@import "src/layout.scss";

.share {
  text-align: center;
  
  &__buttons {
    margin: $space / 2;
    padding: 0;
    list-style: none;

    li {
      display: inline;
      padding: $space / 2;
    }

    img {
      width: 32px;
    }
  }
}

.share-text {
  margin: $space / 2;
}