@import "src/layout.scss";

.share {
  text-align: center;
  padding: $space / 2;
  padding-bottom: 0;


  &__buttons {
    list-style: none;

    li {
      display: inline;
      padding: $space;
    }

    img {
      width: 32px;
    }
  }
}