.header {
  text-align: center;
  color: white;
  padding: 1rem 0;

  &__title {
    font-size: 180%;
    text-shadow: 3px 3px black;
  }

  &__subtitle{
    text-shadow: 1px 1px black;
  }

  &__companies__group {
    display: flex;

    img {
      flex: 1 1 auto;
      width: 10%;
      height: 10%;
    }
  }
}