@import "src/layout.scss";

.header {
  text-align: center;
  color: white;
  
  &__title {
    padding-top: $space;
  }

  &__subtitle{
    font-size: 140%;
    text-shadow: 2px 2px $color-0;
    padding: $space;
    padding-top: 0;
  }

  &__companies{
    &__group {
      display: flex;
  
      img {
        flex: 1 1 auto;
        width: 10%;
        height: 10%;
      }
    }
  }

  &__headline {
    padding: $space;
    font-size: 130%;
    
    text-shadow: 2px 2px $color-5;
  }

  &__logo {
    max-width: 20%;
  }

  
}