$color-1: #002336;
$color-2: #0077B5;
$color-3: #F7EAB2;
$color-4: #68a2c5;
$color-5: #345162;

$space: 0.7rem;


body {
  margin: 0 auto;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  background-image:
    linear-gradient(rgb(230,230,230) 1px, transparent 1px),
    linear-gradient(90deg, rgb(230,230,230) 1px, transparent 1px),
    linear-gradient(rgb(230,230,230) 1px, transparent 1px),
    linear-gradient(90deg, rgb(230,230,230) 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px;
  background-position:-1px -1px, -1px -1px;    
  line-height: 1.5;  
  text-shadow: $color-1 1px 1px;
}

.border {
  box-shadow: $color-1 1px 1px;

}

.title {
  font-size: 150%;
  text-shadow: 2px 3px $color-1;
  font-weight: bold;
}

.alternative {
  background-color: $color-4;
  text-shadow: $color-5  1px 1px;

  .border {
    box-shadow: $color-5 1px 1px;
  }

  .title {
    text-shadow: 3px 3px $color-5;
  }
}

.wrapper {
  margin: 0 auto;
  background-color: $color-2;
  display: flex;
  flex-direction: column;
  

  @media (min-width: 800px) {
    max-width: 50%;
  }
}

